<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.SubscriptionMapper">
    
    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.Subscription">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="openid" property="openid"/>
        <result column="templateId" property="templateId"/>
        <result column="subscribed" property="subscribed"/>
        <result column="remainCount" property="remainCount"/>
        <result column="createdAt" property="createdAt"/>
        <result column="updatedAt" property="updatedAt"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, userId, openid, templateId, subscribed, remainCount, createdAt, updatedAt
    </sql>
    
    <select id="findByUserIdAndTemplateId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM subscriptions
        WHERE userId = #{userId} AND templateId = #{templateId}
    </select>
    
    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM subscriptions
        WHERE userId = #{userId}
        LIMIT 1
    </select>
    
    <insert id="insert" parameterType="com.tencent.wxcloudrun.model.Subscription" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subscriptions (userId, openid, templateId, subscribed, remainCount)
        VALUES (#{userId}, #{openid}, #{templateId}, #{subscribed}, #{remainCount})
    </insert>
    
    <update id="update" parameterType="com.tencent.wxcloudrun.model.Subscription">
        UPDATE subscriptions
        SET subscribed = #{subscribed},
            remainCount = #{remainCount}
        WHERE id = #{id}
    </update>
    
    <update id="incrementRemainCount">
        UPDATE subscriptions
        SET remainCount = remainCount + #{count}
        WHERE id = #{id}
    </update>
    
    <update id="decrementRemainCount">
        UPDATE subscriptions
        SET remainCount = GREATEST(remainCount - 1, 0)
        WHERE id = #{id}
    </update>
    
    <select id="findAllSubscribed" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM subscriptions
        WHERE subscribed = true AND remainCount > 0
    </select>
    
    <delete id="deleteByUserId">
        DELETE FROM subscriptions
        WHERE userId = #{userId}
    </delete>
    
</mapper>